.work {
    border-radius: 10px;
    background-color: #FF8B64;
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}
.play {
    border-radius: 10px;
    background-color: #56C2E6;
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}
.study {
    border-radius: 10px;
    background-color: #FF5E7D;
    background-image: url(../images/icon-study.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}
.exercise {
    border-radius: 10px;
    background-color: #4BCF83;
    background-image: url(../images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}
.social  {
    border-radius: 10px;
    background-color: #7235D1;
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}
.self-care {
    border-radius: 10px;
    background-color: #F1C75B;
    background-image: url(../images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}