.work {
    border-radius: 10px;
    background-color: #FF8B64;
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}